body {
    margin: 0;
    font-family: Segoe UI;
    background: #f4f6fb;
}

header {
    background: white;
    padding: 10px 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

/* SEARCH */
.search-container {
    display: flex;
    width: 40%;
}

.search-container input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px 0 0 6px;
    outline: none;
}

.search-container button {
    padding: 10px 15px;
    border: none;
    background: #111827;
    color: white;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

/* BUTTONS */
.nav-buttons {
    display: flex;
    gap: 15px;
}

.sell-btn {
    background: #22c55e;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.logout-btn {
    background: #ef4444;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

/* HERO */
.hero {
    text-align: center;
    padding: 40px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 20px;
}

.category-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: .4s;
    cursor: pointer;
}

.category-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.category-card h3 {
    padding: 15px;
}

.category-card:hover {
    transform: translateY(-8px);
}

/* FOOTER */
footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}