* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e3f2fd, #f8fbff);
}

/* CARD */
.register-container {
    background: white;
    padding: 40px;
    width: 320px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* TITLE */
.register-container h2 {
    color: #003366;
}

.subtitle {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* FLOAT INPUT */
.input-box {
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
}

.input-box label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    background: white;
    padding: 0 4px;
    transition: .3s;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #007BFF;
}

.input-box input:focus+label,
.input-box input:valid+label {
    top: -8px;
    font-size: 12px;
    color: #007BFF;
}

/* BUTTON */
button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

/* LOGIN LINK */
.extra {
    font-size: 13px;
    color: gray;
}

.extra a {
    color: #007BFF;
    text-decoration: none;
}

.extra a:hover {
    text-decoration: underline;
}